<archangel-card-example></archangel-card-example>


<archangel-card-container >
  <archangel-card>
    <archangel-card-header>
      <div title>title</div>
      <div subtitle>sub-title</div>
    </archangel-card-header>
      <archangel-card-body>
        Container
      </archangel-card-body>
  </archangel-card>
  <archangel-card-out-text>
      <p>
          <strong>
            test
          </strong>
      </p>
  </archangel-card-out-text>
</archangel-card-container>

<archangel-card-example></archangel-card-example>
